@page "/specialoffers"
@rendermode InteractiveServer

<PageTitle>Special Offers</PageTitle>

<h1>Special Offers</h1>

<CascadingValue Name="DealName" Value="@("Throwback Thursday")">
    <DealDisplay />
</CascadingValue>
